/* 
    title-font-size:35px;

*/
/* ---------------------------- ROOT VARIABLES ---------------------------- */
:root{
    --title-font-size:35px;
}
/* ---------------------------- RESETTING ---------------------------- */
*{
    margin: 0;
    padding: 0;
}
/* ---------------------------- index.html ---------------------------- */
/* ---------------------------- HEADING ---------------------------- */
.title{
    color: cornflowerblue;
    text-align: center;
    text-transform: uppercase;
    font-size: var(--title-font-size,35px);
    padding: 1rem;
}
/* ---------------------------- NAVIGATION ---------------------------- */
.navigation{
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    box-shadow: 5px 0px 10px 0px grey;
    padding: 1.5rem;
}
nav > ul {
    list-style: none;
    text-align: center;
}
nav > ul > li{
    display: inline-flex;
    text-transform: uppercase;
    padding: 0 1rem 0 1rem;
}
nav > ul > li > a{
    text-decoration: none;
}
nav > ul > li > a:link{
    color: red;
}
nav > ul > li > a:hover{
    color: red;
}
/* ---------------------------- MAIN ---------------------------- */
/* ---------------------------- SECTION 1 ---------------------------- */
.section-1{
    text-align: center;
    padding: 2rem;
}
.section-1 > figure > img{
    height: 30vh;
    width:30vw;
    /* padding: 1rem; */
}
.section-1 > figure > figcaption> p{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 0 20rem 0 20rem; */
}
/* ---------------------------- SECTION 2 ---------------------------- */
.section-2{
    margin: 0;
}
.cover-img{
    width: 100%;
    height: 100%;
}
.heading-2{
    font-size: 3rem;
    text-shadow: 5px 0px 10px grey;
}
/* ----------------------------  FOOTER ---------------------------- */
footer{
    /* background-color: whitesmoke; */
    padding: 2rem;
}
footer section{
    text-align: center;
    margin: 2rem;
}
.copyright{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.social-icons > h3{
    color: slategray;
    text-transform: lowercase;
    font-size: 1rem;
    text-decoration: underline;
}
.social-icons > i{
    font-size: 1.5rem;
    padding: 0.5rem;
}
.social-icons > i:hover{
    color: steelblue;
}
/* ----------------------------  teams.html ---------------------------- */
/* ----------------------------  TEAMS ---------------------------- */
.teams,.matches{
    background-color: whitesmoke;
    padding: 2rem;
}
.teams, .matches > h2{
    text-align: center;
    text-transform: uppercase;
}
.teams .team-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}
.teams .team-group .team-item img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 2rem;
    padding: 2rem;
    background-color: whitesmoke;
    box-shadow: 5px 0 30px 5px grey;
}
.teams .team-group .team-item img:hover{
    border: 3px solid orange;
    box-shadow: 5px 0 30px 5px orange;
}
/* ----------------------------  MATCHES ---------------------------- */
.matches .match-table{
    margin: 2rem auto;
    border: 2px solid grey;
}
.matches table,tr,th,td{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.matches table thead th{
    color: grey; 
    font-weight: bold;
}
.matches table tbody tr td{
    color: midnightblue;
    text-align: center;
}
.matches table{
    width: 70%;
    margin: 2rem;
    border: 2px solid grey;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.matches > table > caption{
    text-align: center;
    font-size: 1.5rem;
    color: teal;
    text-transform: uppercase;
    margin: 1rem;
}
.matches >  table > tbody >tr:hover{
    background-color: steelblue;
    /* color: white; */
    opacity: 0.5;
}
/* ----------------------------  MEDIA QUERIES ---------------------------- */
@media screen and (max-width:728px){
    .title{
        display:none;
    }
    nav > ul > li{
        display: inline;
        text-transform: uppercase;
        padding: 0 0.2rem 0 0.2rem;
        font-size: 1rem;
    }
    .section-1 > figure > img{
        height: 100%;
        width: 100%;
    }
    .teams .team-group .team-item img{
        height: 200px;
        width: 200px;
    }
}
